/* App.css or your custom CSS file */
body {
  background-color: black;
  color: beige;
}
h1{
  align-content: center;
}
table {
  background-color: black;
  color: white; /* This sets the text color to white for better visibility */
}


/* App.css or your custom CSS file */
table {
  background-color: black;
  color: white;
}

table img {
  max-width: 50px; /* Adjust the size as needed */
  height: auto; /* Maintain the image aspect ratio */
}

